@use "../../foundation/variables" as *;

.c-btn{
    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 3px $shadow;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.9;
    &:hover{
        opacity: 1;
    }
}