version: '3.8'

services:
  app:
    build: ./php
    volumes:
      - ./public:/var/www/html
    depends_on:
      - db

  web:
    image: nginx:latest
    ports:
      - "8082:80"
    volumes:
      - ./public:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: practice
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: 'Asia/Tokyo'
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  browser-sync:
    build: ./browser-sync
    volumes:
      - ./public:/var/www/html
    command: >
      browser-sync start --proxy "web:80" --files "/var/www/html/**/*" --no-open --port 3000 --host 0.0.0.0
    ports:
      - "3000:3000"
    depends_on:
      - web

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"   
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  db-data:
