<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/practice.css">
  <!-- Vue 3 CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="./js/vue-main.js" defer></script>
  <title>Vue練習</title>
</head>

<body>
  <div id="app">
    <main class="l-main">
      <div class="p-todo">
        <h2 class="p-todo__title">ToDoリスト</h2>
        <div class="p-todo__inputArea">
          <input type="text" v-model="newTodo" class="c-input p-todo__input">
          <button v-if="editingTodo" @click="updateTodo" class="c-btn">更新</button>
          <button v-else @click="addTodo" class="c-btn p-todo__btn">追加</button>
        </div>
        <div class="p-todo__controls">
          <div class="p-todo__search">
            <input type="text" v-model="keyword" placeholder="検索ワードを入力してください" class="c-input p-todo__input--search">
          </div>

          <div class="p-todo__filter">
            <button @click="filter = 'all'" class="c-btn p-todo__btn">すべて</button>
            <button @click="filter = 'inComplete'" class="c-btn p-todo__btn">未完了</button>
            <button @click="filter = 'complete'" class="c-btn p-todo__btn">完了</button>
          </div>

          <div class="p-todo__sort">
            <button @click="sortType = 'new'" class="c-btn p-todo__btn--sort">新しい順</button>
            <button @click="sortType = 'old'" class="c-btn p-todo__btn--sort">古い順</button>
          </div>


        </div>

        <ul class="p-todo__listArea">
          <li v-for="todo in filteredTodos" :key="todo.id" :class="['p-todo__list', { 'is-done': todo.completed }]">
            <span class="p-todo__text">
              {{ todo.name }}
            </span>
            <div class="p-todo__operationArea">
              <input type="checkbox" v-model="todo.completed">
              <button @click.stop="editTodo(todo)" class="c-btn p-todo__btn--edit">編集</button>
              <button @click.stop="deleteTodo(todo.id)" class="c-btn p-todo__btn--delete">削除</button>
            </div>
          </li>
        </ul>
      </div>
    </main>
  </div>


</body>

</html>