@use "../../foundation/variables.scss" as *;

.p-forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        text-align: center;
        color: $main-color;
        margin-bottom: $space_xl;
    }
    &__formField {
        display: flex;
        justify-content: center;
    }
    &__form {
        border-radius: 10px;
        width: 600px;
        padding: $space_3l;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: $white;
    }
    &__inputField {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: $space_xl;
        padding-top: 4px;
        width: 90%;
    }

    &__labelField {
        margin-bottom: $space_m;
        display: flex;
    }
    &__label {
        width: 40%;
        margin-bottom: $space_m;
    }
    &__input {
        margin-bottom: $space_l;
    }
    &__btnField {
        margin-top: $space_l;
    }
    &__btn {
        background-color: $sub-color1;
        color: $white;
        width: 90%;
        padding: $space_m;
        font-size: $font-size_l;
        margin-bottom: $space_l;
    }
    &__errMsg {
        margin-bottom: $space_m;
    }
}
