//フォント
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-noto-sans-jp: "Noto Sans JP", sans-serif;
$line-height-base: 1.5;
$font-size_s: 12px;
$font-size_m: 14px;
$font-size_base: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

// Colors
$base-color: #f6f5f5;
$main-color: #404E72;
$sub-color1: #EB6137;
$sub-color2: #51318F;
$accent-color:#BBBCDE;
$font-color_default: #444;
$font-color_title: #4e4449;
$alert-color: #d7003a;
$white: #fff;
$black: #2F2725;
$shadow: #b8b8b8;
$gray: #333;
$gray-sub: #767676;
$blue: #1DA1F2;
$pink: #F29C9F;
$silver:#CED1D3;
$yellow:#FABF13;

//width
$site-width: 980px;

//スペース
$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

//レスポンシブデザイン用変数
$breakpoints: (
    "ss": "screen and (max-width: 280px)",
    "sm": "screen and (max-width: 320px)",
    "md": "screen and (max-width: 599px)",
    "lg": "screen and (max-width: 768px)",
    "xl": "screen and (max-width: 1024px)",
    "xxl": "screen and (max-width: 1280px)",
    //"zl": "screen and (min-width: 1281px)",
) !default;

//mixin
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

